<div class="col-lg-4">
  <div class="card shadow">
    <div class="card-body text-center">
      <h2><%= card_title %></h2>
      <h2 class="text-primary"><%= card_details %></h2>
    </div>
  </div>
</div>
