<div class="list-group">
  <%= link_to "Projects", admin_projects_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Employees", admin_employees_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Assignments", admin_employee_projects_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Skills", admin_skills_path, class: "list-group-item list-group-item-action" %>
</div>