<div class="list-group">
  <%= link_to "Dashboard", employee_dashboard_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Assignments", employee_assignments_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Timesheets", employee_timesheets_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Tasks", employee_tasks_path, class: "list-group-item list-group-item-action" %>
</div>