<% content_for :title, 'AiProjectMgmt | Employee Assignments' %>
<% if @employee_projects.present? %> 
  <h1>My Projects</h1>
  <div class="list-group">
    <% @employee_projects.each do |ep| %>
      <div class='list-group-item list-group-item-action'>
        <p><%= ep.project.title %></p>
        <small class="fw-bold">Assigned On: <%= ep.start_date %></small>
        <% if ep.end_date.present? %>
          <br>
          <small class="fw-bold">Closed On: <%= ep.end_date %></small>
        <% end %>
        <div>
          <%= link_to 'View Timesheet', employee_project_time_sheet_path(employee_project_id: ep.id), class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>