<% content_for :title, 'AiProjectMgmt | Employee Tasks' %>
<div class="mt-4 text-end mb-4">
  <%= link_to "New Task", new_employee_task_path, class: "btn btn-primary", data: { controller: "bs-modal-form" } %>

<%= link_to 'Export', '#exportModal', class: 'btn btn-primary', data: { bs_toggle: 'modal' } %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Project</th>
      <th>Title</th>
      <th>Number</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody id="task-list">
    <% @tasks.each do |task| %>
      <%= render "employee/tasks/task", task: task %>
    <% end %>
  </tbody>
</table>
<%= render 'shared/export_modal', export_path: employee_tasks_path(format: :csv), modal_title: 'Export Options' %>
